name: Build

on:
  pull_request:
    branches:
      - main
      - master
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build-windows:
    uses: ./.github/workflows/build_win_pkg.yml
    with:
      version: dev

  build-macos:
    uses: ./.github/workflows/build_mac_pkg.yml
    with:
      version: dev
