name: Build Windows Release Package

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install Dependencies
      run: |
        uv sync
        uv add pyinstaller

    - name: Build Executable
      run: |
        uv run pyinstaller build_win_pkg.spec

    - name: Add Release Resource to Package
      run: |
        Move-Item -Path "./input" -Destination "./dist"
        Move-Item -Path "./logos" -Destination "./dist"
        Move-Item -Path "./fonts" -Destination "./dist"
        Move-Item -Path "./config.yaml" -Destination "./dist/config.yaml"

    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: semi-utils-latest_win_amd64_pkg
        path: dist
