name: Build Windows Release Package

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Get version from tag
      id: get_version
      shell: bash
      run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install Dependencies
      run: |
        uv sync
        uv add pyinstaller

    - name: Build Executable
      run: |
        uv run pyinstaller specs/build_win_pkg.spec

    - name: Add Release Resource to Package
      run: |
        New-Item -ItemType Directory -Path "./dist/semi-utils" -Force
        New-Item -ItemType Directory -Path "./dist/semi-utils/input" -Force
        New-Item -ItemType Directory -Path "./dist/semi-utils/output" -Force
        Move-Item -Path "./dist/semi-utils.exe" -Destination "./dist/semi-utils/semi-utils.exe"
        Move-Item -Path "./logos" -Destination "./dist/semi-utils/logos"
        Move-Item -Path "./fonts" -Destination "./dist/semi-utils/fonts"

    - name: Create zip archive
      run: |
        Compress-Archive -Path "./dist/semi-utils/*" -DestinationPath "./dist/semi-utils-${{ steps.get_version.outputs.VERSION }}-win-amd64.zip"

    - name: Upload to Release
      uses: softprops/action-gh-release@v2
      with:
        files: ./dist/semi-utils-${{ steps.get_version.outputs.VERSION }}-win-amd64.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
