name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install Dependencies
      run: |
        uv sync
        uv add pyinstaller

    - name: Download exiftool from official site
      run: |
        # Download exiftool Windows executable from official site
        $exiftoolUrl = "https://exiftool.org/exiftool-13.10_64.zip"
        $zipFile = "exiftool.zip"
        Invoke-WebRequest -Uri $exiftoolUrl -OutFile $zipFile

        # Create directory and extract
        New-Item -Path "./exiftool" -ItemType "directory" -Force | Out-Null
        Expand-Archive -Path $zipFile -DestinationPath "./exiftool" -Force

        # Rename exiftool(-k).exe to exiftool.exe
        Get-ChildItem -Path "./exiftool" -Filter "exiftool*.exe" | ForEach-Object {
          Rename-Item -Path $_.FullName -NewName "exiftool.exe"
        }

        # Clean up
        Remove-Item $zipFile

    - name: Build Executable
      run: |
        pyinstaller main.spec

    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: semi-utils-latest
        path: dist
