name: Build

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install Dependencies
      run: |
        uv sync
        uv add pyinstaller

    - name: Build Executable
      run: |
        uv run pyinstaller specs/main.spec

    - name: Add Release Resource to Package
      run: |
        Move-Item -Path "./input" -Destination "./dist/semi-utils"
        Move-Item -Path "./logos" -Destination "./dist/semi-utils"
        Move-Item -Path "./fonts" -Destination "./dist/semi-utils"

    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: semi-utils-latest
        path: dist
